[Desktop Entry]
Name=XMaxima
Exec=xmaxima.sh
Icon=maxima-icon
Terminal=false
Type=Application
Categories=Education;Science;Math;
# vi: encoding=utf-8
