[Desktop Entry]
Name=XMaxima
Exec=xmaxima.sh
Icon=maxima-icon.png
Terminal=false
Type=Application
Categories=Education;Science;Math;
Encoding=UTF-8
# vi: encoding=utf-8
